html, body {
    margin: 0;
    border: 0;
    font: 18px/1.4 "Roboto", sans-serif;
    overflow: hidden;
    position: relative;
}

/*GIVE UP WITH BUTTONS! JUST USE JAVASCRIPT*/


#canvas {
    display: block;
    background-color: #a99;
}

/*.lgBtn {
    font: 18px/1.4 "Roboto", sans-serif;
    width: 50px; height: 50px;
    border-radius: 12px;
    border: none;
    text-align: center;
    background-color: #2b2;
    box-shadow: 0 10px #666;
    transform: translateY(-4px);
*/

/*.lgBtn:active {
    background-color: #f82;
    transform: translateY(2px);
    box-shadow: 0 4px #666;
}

.lgBtn:focus {
    background-color: #282;
    box-shadow: 0 6px #666;
    transform: translateY(0px);
    outline: none;
}*/



#toolbar {
	display: inline-block;
	background-color: #dcc;
    border-radius: 8px;
    box-shadow: 0 10px #666;
    padding: 10px 20px 20px 20px;
    margin: 10px 10px 20px 10px;
    position: fixed;
    bottom: 0;
    left: 10px;
}

#toolbar input[type="radio"], input[type="checkbox"] {
    opacity: 0;
    width: 0;
    display: none;
}

#toolbar input[type="radio"] + label {
    display: inline-block;
    font: 18px/1.4 "Roboto", sans-serif;
    padding: 10px 10px;
    border-radius: 8px;
    border: none;
    text-align: center;
    background-color: #2b2;
    box-shadow: 0 10px #666;
    transform: translateY(-4px);
    
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Opera and Firefox */
}

#toolbar input[type="checkbox"] + label {
    display: inline-block;
    font: 18px/1.4 "Roboto", sans-serif;
    padding: 10px 10px;
    margin: 12px 0 0 0;
    border-radius: 8px;
    border: none;
    text-align: center;
    background-color: #f44;
    box-shadow: 0 10px #666;
    transform: translateY(-4px);
    
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Opera and Firefox */
}

#toolbar input[type="radio"]:checked + label {
    background-color: #f82;
    transform: translateY(2px);
    box-shadow: 0 4px #666;
}

#toolbar input[type="checkbox"]:checked + label {
    background-color: #f00;
    transform: translateY(2px);
    box-shadow: 0 4px #666;
}

#eraser label {
	background-color: #090;
}




.smBtn {
    font: 18px/1.4 "Roboto", sans-serif;
    width: 50px; height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #2f2;
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Opera and Firefox */
}

.smBtn:active {
    background-color: #282;
    outline: none;
}
.smBtn:focus {
    outline: none;
}

#debug {
    position: relative; top: -20px; text-align: center;
}

#undo {
    position: absolute; top: 10px; right: 60px; width: 40px; height: 40px;
}

#redo {
    position: absolute; top: 10px; right: 10px; width: 40px; height: 40px;
}

#gridDec {
    position: absolute; top: 60px; right: 60px; width: 40px; height: 40px;
}

#gridInc {
    position: absolute; top: 60px; right: 10px; width: 40px; height: 40px;
}

#fullscreen {
    position: absolute; top: 110px; right: 10px; width: 90px; height: 40px;
}

#gridRepeat {
    position: absolute; top: 160px; right: 10px; width: 90px; height: 40px;
}

@media screen and (orientation:portrait) {

    .menu {
        background-color: #a99;
        stroke-width: 0;
        position: fixed;
        min-width: 100%;
        min-height: 140px;
        bottom: 0;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Opera and Firefox */
    }
}

@media screen and (orientation:landscape) {
    .menu {
        background-color: #a99;
        stroke-width: 0;
        position: fixed;
        min-width: 380px;
        min-height: 160px;
        border-radius: 0 20px 0 0;
        bottom:0;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Opera and Firefox */
    }
}