html, body {
    margin: 0;
    border: 0;
    font: 18px/1.4 "Roboto", sans-serif;
    overflow: hidden;
    position: relative;
}


/* working impementation of pressable buttons
.lgBtn {
    font: 18px/1.4 "Roboto", sans-serif;
    width: 50px; height: 50px;
    border-radius: 12px;
    border: none;
    text-align: center;
    background-color: #2b2;
    box-shadow: 0 10px #666;
    transform: translateY(-4px);
*/

/*.lgBtn:active {
    background-color: #f82;
    transform: translateY(2px);
    box-shadow: 0 4px #666;
}

.lgBtn:focus {
    background-color: #282;
    box-shadow: 0 6px #666;
    transform: translateY(0px);
    outline: none;
}*/


/*#region toolbar*/

#toolbar {
	display: inline-block;
	background-color: #dcc;
    border-radius: 8px;
    box-shadow: 0 10px #666;
    padding: 10px 2.5vw 20px 2.5vw;
    position: fixed;
    bottom: 10px;
    left: 3.5vw;
}

#toolbar input[type="radio"], input[type="checkbox"] {
    opacity: 0;
    width: 0;
    display: none;
}

#toolbar input[type="radio"] + label {
    display: inline-block;
    font: 18px/1.4 "Roboto", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 21vw;
    margin: 0 0.5vw;
    border-radius: 8px;
    border: none;
    text-align: center;
    background-color: #2b2;
    box-shadow: 0 10px #666;
    transform: translateY(-4px);
    
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Opera and Firefox */
}

#toolbar input[type="checkbox"] + label {
    display: inline-block;
    font: 18px/1.4 "Roboto", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 21vw;
    margin: 0 0.5vw;
    border-radius: 8px;
    border: none;
    text-align: center;
    background-color: #f44;
    box-shadow: 0 10px #666;
    transform: translateY(-4px);
    
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Opera and Firefox */
}

#toolbar input[type="radio"]:checked + label {
    background-color: #f82;
    transform: translateY(2px);
    box-shadow: 0 4px #666;
}

#toolbar input[type="checkbox"]:checked + label {
    background-color: #f00;
    transform: translateY(2px);
    box-shadow: 0 4px #666;
}

#eraser label {
	background-color: #090;
}

/*#endregion*/
/*#region framebar*/

#framebar {
    display: inline-block;
	background-color: #544;
    border-radius: 8px;
    padding: 4px 2.5vw 110px 2.5vw;
    margin: 0 5vw;
    width: 85vw;
    position: absolute;
    bottom: -10px;
    left:0;
}

#framePlay {
    height: 50px;
}

.frameBtn {
    display: inline-block;
    font: 18px/1.4 "Roboto", sans-serif;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 15vw;
    margin: 0 0.5vw;
    border-radius: 8px;
    border: none;
    text-align: center;
    color: #bbb;
    background-color: #222;
    box-shadow: 0 10px #666;
    transform: translateY(-4px);
    
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Opera and Firefox */
}

.frameBtn:active {
    background-color: #888;
    transform: translateY(2px);
    box-shadow: 0 4px #666;
}

.frameBtn:focus {
    outline: 0;
}

#frameSpeedText {
    display: inline-block;
    font: 20px/1.4 "Roboto", sans-serif;
    position: absolute;
    top: -6px;
    right: 19vw;
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Opera and Firefox */
}

input[type="range"] { 
    -webkit-appearance: none;
    margin: 0 0.5vw;
    display: inline-block;
    position: relative;
    top: 9px;
    height: 36px;
    width: 36vw;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 10px #666;
}

input[type="range"] + label { 
    position: relative;
    left: -60px;
    text-align: center;
}

input[type="range"]:focus { 
    outline: none;
}

::-webkit-slider-runnable-track {
    background: #bbf;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 46px;
    box-shadow: -100vw 0 0 100vw dodgerblue;
}

::-moz-range-track {
    height: 46px;
    background: #eee;
}

::-moz-range-thumb {
    display: none;
    background: #fff;
    height: 46px;
    width: 0;
    box-shadow: -100vw 0 0 100vw dodgerblue;
    box-sizing: border-box;
}

::-ms-fill-lower {
    background: dodgerblue;
}

::-ms-thumb {
    background: #fff;
    height: 46px;
    width: 0;
    box-sizing: border-box;
}

::-ms-ticks-after {
    display: none; 
}

::-ms-ticks-before {
    display: none; 
}

::-ms-track {
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
}

::-ms-tooltip {
    display: none;
}

/*#endregion*/
/*#region classes*/

.smBtn {
    font: 18px/1.4 "Roboto", sans-serif;
    width: 50px; height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #2f2;
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Opera and Firefox */
}

.smBtn:active {
    background-color: #282;
    outline: none;
}
.smBtn:focus {
    outline: none;
}

/*#endregion*/
/*#region ids*/

#canvas {
    display: block;
    background-color: #a99;
}

#debug {
    position: absolute; top: 0px; left: 10px;
}

#undo {
    position: absolute; top: 10px; right: 60px; width: 40px; height: 40px;
}

#redo {
    position: absolute; top: 10px; right: 10px; width: 40px; height: 40px;
}

#gridDec {
    position: absolute; top: 60px; right: 60px; width: 40px; height: 40px;
}

#gridInc {
    position: absolute; top: 60px; right: 10px; width: 40px; height: 40px;
}

#fullscreen {
    position: absolute; top: 110px; right: 10px; width: 90px; height: 40px;
}

#gridRepeat {
    position: absolute; top: 160px; right: 10px; width: 90px; height: 40px;
}

/*#endregion*/

@media screen and (orientation:portrait) {

}

@media screen and (orientation:landscape) {

}
