html, body {
    margin: 0;
    border: 0;
    font: 18px/1.4 'Nunito', sans-serif;
    overflow: hidden;
    position: relative;
}

/*#region toolbar*/

#toolbar {
	display: inline-block;
	background-color: #dcc;
    border-radius: 8px;
    width: 98%;
    padding: 8px 2.5% 18px 2.5%;
    position: absolute;
    box-shadow: 0 10px #666;
    bottom: 14px;
    left: 1%;
}

#toolbar input[type="radio"], input[type="checkbox"] {
    opacity: 0;
    width: 0;
    display: none;
}

#toolbar input[type="radio"] + label {
    display: inline-block;
    font: 18px/1.4 'Nunito', sans-serif;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 25%;
    margin: 0 0.5%;
    border-radius: 8px;
    border: none;
    text-align: center;
    background-color: #2b2;
    box-shadow: 0 10px #666;
    transform: translateY(-4px);
    
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Opera and Firefox */
}

#toolbar input[type="checkbox"] + label {
    display: inline-block;
    font: 18px/1.4 'Nunito', sans-serif;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 21%;
    margin: 0 0.5%;
    border-radius: 8px;
    border: none;
    text-align: center;
    background-color: #f44;
    box-shadow: 0 10px #666;
    transform: translateY(-4px);
    
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Opera and Firefox */
}

#toolbar input[type="radio"]:checked + label {
    background-color: #f82;
    transform: translateY(2px);
    box-shadow: 0 4px #666;
}

#toolbar input[type="checkbox"]:checked + label {
    background-color: #f00;
    transform: translateY(2px);
    box-shadow: 0 4px #666;
}

#eraser label {
	background-color: #090;
}

#menuIndicator {
    position: absolute;
    right: 10px;
    top: -10px;
    font: 12px/1.4 'Nunito', sans-serif;
    color: #222;
}

#menuIndicatorBox {
    width: 20px; 
    height: 10px; 
    background-color: #a99; 
    border-radius: 5px; 
    display: inline-block;
}

#toolbarPlatform {
    background-color: #dcc;
    overflow: hidden;
    position: absolute; right: 0; 
    bottom: -10px; 
    width: 160px;
    height: 20px; 
    border-radius: 0 0 8px 8px; 
    box-shadow: 0 10px #666;
}

/*#endregion*/
/*#region framebar*/

#framebar {
    display: inline-block;
	background-color: #544;
    border-radius: 8px;
    padding: 0 2.5% 12px 2.5%;
    width: 96%;
    position: absolute;
    bottom: 67px;
    box-shadow: 0 10px #000;
    left: 2%;
}

#playLife {
    height: 46px;
}

.frameBtn {
    display: inline-block;
    font: 18px/1.4 'Nunito', sans-serif;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 18%;
    margin: 0 0.5%;
    border-radius: 8px;
    border: none;
    text-align: center;
    color: #bbb;
    background-color: #222;
    box-shadow: 0 10px #666;
    transform: translateY(-4px);
    
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Opera and Firefox */
}

.frameBtn:active {
    background-color: #888;
    transform: translateY(2px);
    box-shadow: 0 4px #666;
}

.frameBtn:focus {
    outline: 0;
}

#frameSpeedText {
    display: inline-block;
    font: 20px/1.4 'Nunito', sans-serif;
    position: absolute;
    top: -6px;
    right: 4%;
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Opera and Firefox */
}

input[type="range"] { 
    -webkit-appearance: none;
    margin: 0 0.5%;
    display: inline-block;
    position: relative;
    top: 9px;
    height: 36px;
    width: 42%;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 10px #666;
}

input[type="range"] + label { 
    position: relative;
    left: -60px;
    text-align: center;
}

input[type="range"]:focus { 
    outline: none;
}

::-webkit-slider-runnable-track {
    background: #bbf;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 46px;
    box-shadow: -100vw 0 0 100vw dodgerblue;
}

::-moz-range-track {
    height: 46px;
    background: #eee;
}

::-moz-range-thumb {
    display: none;
    background: #fff;
    height: 46px;
    width: 0;
    box-shadow: -100vw 0 0 100vw dodgerblue;
    box-sizing: border-box;
}

::-ms-fill-lower {
    background: dodgerblue;
}

::-ms-thumb {
    background: #fff;
    height: 46px;
    width: 0;
    box-sizing: border-box;
}

::-ms-ticks-after {
    display: none; 
}

::-ms-ticks-before {
    display: none; 
}

::-ms-track {
    background: #ddd;
    color: transparent;
    height: 46px;
    border: none;
}

::-ms-tooltip {
    display: none;
}

/*#endregion*/
/*#region classes*/

.smBtn {
    font: 18px/1.4 'Nunito', sans-serif;
    width: 50px; height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #2f2;
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Opera and Firefox */
}

.smBtn:active {
    background-color: #282;
    outline: none;
}

.smBtn:focus {
    outline: none;
}

/*#endregion*/
/*#region ids*/

#canvas {
    display: block;
    background-color: #a99;
}

#barmenu {
    position: absolute;
    width: 500px;
    bottom: 0;
    left: 0;
}

#debug {
    position: absolute; top: -20px; left: 110px;
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Opera and Firefox */
}

#undo {
    position: absolute; top: 10px; right: 60px; width: 40px; height: 40px;
}

#redo {
    position: absolute; top: 10px; right: 10px; width: 40px; height: 40px;
}

#gridDec {
    position: absolute; top: 10px; right: 160px; width: 40px; height: 40px;
}

#gridInc {
    position: absolute; top: 10px; right: 110px; width: 40px; height: 40px;
}

#fullscreen {
    position: absolute; top: 10px; left: 10px; width: 90px; height: 40px;
}

#gridRepeat {
    position: absolute; top: 60px; left: 10px; width: 90px; height: 40px;
}

/*#endregion*/
